@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.decodificador {
    background-color: #F3F5FC;
    height: 100vh;
    display: flex;
    align-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px;
}

.logo {
    width: 78px;
    height: 78px;
}

.texto {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* font-size: 16px; */
    color: #0A3871;
}
.texto-centralizado {
    text-align: center;
}

.section-entrada {
    /* background-color: antiquewhite; */
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    align-items: center;
    padding: 20px;
}

.section-saida {
    /* box-sizing: border-box; */
    border-radius: 34px;
    width: 320px;
    height: 568px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    /* margin: 10px 20px auto auto; */
}

#texto-digitado {
    width: 400px;
    height: 320px;
    text-align: center;
    background-color: transparent;
    resize: none;
    font-size: 24px;
    padding: 20px;
}

#advertencia {
    margin-top: auto;
}
/* .botoes { */
    /* background-color: blueviolet; */
    /* display: flex; */
    /* align-content: space-between; */
    /* padding: 20px; */
    /* margin-top:  auto; */
/* } */

.botao {    
    background-color: white;
    width: 200px;
    height: 68px;
    border-radius: 34px;
    font-weight: bold ;
    color: #0A3871;
    font-size: 16px;
    margin: 0 5px;
}
#botao-criptografar {
    color: white;
    background-color: #0A3871;
}
#nenhuma-mensagem {
    /* margin-top: auto; */
}

#botao-copiar {
    margin-top: auto;
}
.texto-final {
    width: 90%;
    font-size: 24px;
    /* overflow-wrap: break-word; */
    /* padding: 20px; */
}
