body {
    background-color: #F3F5FC;
}

div {
    border-radius: 34px;
    /* background-color: lightblue; */
    /* align-items: center; */
}

.blocoEntrada {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    border-radius: 34px;
    width: 870px;
    height: 600px;
    top: 10px;
    left: 20px;
}
#alura_icon {
    position: inherit;
    top: 10px;
    left: 10px;

}
/* #pessoaLupa {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 10%;
} */

.textAreaEntrada {
    color: #0A3871;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    background-color: transparent;
    border-color: transparent;
    width: 400px;
    height: 400px;
    text-align: center;
}
.cripButtons {
    /* margin: auto; */
    position: absolute;
    bottom: 10px;
}
button {
    /* display: inline-block; */
    font-size: 16px;
    width: 330px;
    height: 68px;
    border-radius: 34px;
    background-color: white;  
}
.criptografar {
    background-color: #0A3871;
    color: white;
    /* border-color: white; */
}
.blocoSaida {
    position: absolute;/* isso tem que ser relative pro botao centralizar*/
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 34px;
    width: 380px;
    height: 600px;
    left: 900px;
    top: 10px;
}
.textoFinal {    
    color: #0A3871;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#semTexto {
    text-align: center;
}

#digitarTexto {
    text-align: center;
}
.copiar {    
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
